.selector-title {
    font-family: helvetica;
    font-size: 18px;
    font-weight: bold;
    color: #f3f7f3;
}

.selector-item {
    font-family: helvetica;
    font-size: 18px;
    font-weight: bold;
    color: #1ab31a;
}