.cell {
    position: relative;
    border: 1px solid black;
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    font-family: courier;
    background-color: #f2f2f2;
    color: black;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cell-selected {
    position: relative;
    border: 1px solid rgb(223, 11, 11);
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    font-family: courier;
    background-color: #908a17;
    color: black;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cell-editing {
    position: relative;
    border: 1px solid rgb(223, 11, 11);
    width: 100px;
    height: 30px;
    text-align: center;
    vertical-align: middle;
    font-size: 15px;
    font-weight: bold;
    font-family: courier;
    background-color: blue;
    color: yellow;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.cell-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 8px;
}

.row-label {
    position: relative;

    text-align: right;

    vertical-align: middle;
    font-size: 18px;
    font-weight: bold;
    font-family: helvetica;

    color: rgb(249, 249, 246);
}

.column-label {

    position: relative;

    text-align: center;
    vertical-align: bottom;
    font-size: 18px;
    font-weight: bold;
    font-family: helvetica;

    color: rgb(249, 249, 246);
}